/*  server selector navbar 
    main chat
    user interactables
    settings
    messages
    prompts
    online list
*/

body,
html {
	height: 100%;

	margin: 0;

	/* background-color: rgb(26, 25, 25); */
}

/* server selector navbar */
.selector-row {
	display: flex;
	justify-content: center;

	background-image: url(/imgs/nihchat-bg2.svg);
}

.server {
	height: 100px;
	width: 50x;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.server img {
	border-radius: 50%;
	max-width: 100px;

	border: black solid 1px;
}

/* main chat */
.main-chat-border {
	border-radius: 25px;
	border: 2px solid #73ad21;
	padding: 10px;
	overflow-y: scroll;
	overflow-wrap: break-word;
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
	white-space: pre-line;
	height: 80vh;
	width: 100%;
	box-sizing: border-box;
}

#chat-box {
	border: 5px solid;
	width: 100%;

	font-size: 1rem;
}

.user-interactables-container {
	display: flex;
	flex-direction: column;
}

/* user interactables */
.user-input-container {
	display: flex;
	height: 4rem;
}

.file-send {
	width: 5rem;
	display: none;
}

.ui-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px;
}

.ui-buttons img {
	width: 20px;
}

/* settings */
#settings-menu {
	width: 40vh;
	position: absolute;
	left: 40%;
	top: 30%;
	background-color: rgb(255, 133, 111);

	border-radius: 3%;
}

#status-changer {
	text-align: center;
	padding: 1em;
}

#danger-zone {
	border-style: dotted;
	border-color: red;
}

#danger-zone #danger-text {
	color: red;
	text-align: center;

	margin: 5px;
}

#status-changer div {
	flex-direction: column;
	text-align: center;
	padding: 1em;
}

/* messages */
.message {
	font-size: larger;
	margin: 2px;
	white-space: pre-line;
	width: 100%;
}

.system-message {
	background-color: #ebebe4;
}

.unread-separator {
	background-color: black;
	width: 100%;
	height: 1px;

	margin: 10px 0px 10px 0px;
}

.unread-separator::before {
	content: "NEW MESSAGES";
	color: gray;

	justify-content: center;
	display: flex;
}

/* prompts */
#prompt-button-yes {
	background-color: lightgreen;
	width: 100%;
	height: 2.5em;
}

#prompt-button-no {
	background-color: red;
	width: 100%;
	height: 2.5em;
}

#client-prompt {
	display: none;
	color: #020202;
	background-color: #757575;
	position: absolute;
	left: 40%;
	top: 30%;
}

#client-error {
	display: none;
	color: #d8000c;
	background-color: #ffd2d2;
	position: absolute;
	left: 40%;
	top: 30%;
}

#client-error h3 {
	padding: 20px;
}

#client-error h1 {
	text-align: center;
}

/* online list */
#online-listh1 {
	text-align: center;
}

#online-list {
	text-align: right;
	background-color: rgb(124, 255, 124);
	font-size: 25px;
	position: absolute;
	top: 0;
	right: 0;
	height: 5vh;
	width: 25vh;
	clip-path: polygon(0 0, 0 25%, 40% 100%, 100% 100%, 100% 0);
}

.online-list-name {
	font-size: 30px;
	color: rgb(255, 255, 255);
	text-align: center;
}

#online-list-names {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: rgb(76, 214, 13);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

#online-list-names.hovered {
	width: 250px;
}

#online-list-names.pinned {
	z-index: auto;
}
