body, html{
	height: 100%;
	margin: 0;
	padding: 0;
	
	background-image: url(../imgs/NihChat.png);
}

#error{
	color: red;
    font-weight: bold;
    font-size: 18px;
}

.login-container{
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
}


#login {
	margin: auto;

	border: 10px solid #ffff00;
	display: flex;
    justify-content: space-around;
    
	flex-direction: column;
	text-align: center;
    

	height: 20rem;
	width: 22rem;
	background-color: #a7abac;
	box-shadow: 0 18px 16px grey;
}

#login h1 {
	font-family: Arial, sans-serif;
}


#source-text-container p a {
	font-size: 20px;
	color: hsl(9, 100%, 59%);
}

@media only screen and (max-width: 800px) {
	body {
		background-image: none;
	}
	#login{
		height: 100%; 
		width: 100%;

		border: none;
	}

	.login-container{
		height: 100%;
	}
}