body {
	height: 100%;
	background-color: lightblue;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.middle {
	margin-left: 10%;
}

#chat-area {
	display: none;
}

#ui-buttons {
	display: flex;
	flex-direction: column;
	float: left;
	margin: 1% 1% 0% 1%;
}

#gui-settings,
#srccode-icon {
	margin: 10px;
	max-width: 20px;
}

#gui-settings:hover,
#srccode-icon:hover {
	transform: scale(100px);
	cursor: pointer;
}
#gui-settings:hover {
	transform: rotate(90deg);
	transition: 1s;
}

#settings-menu {
	width: 40vh;
	position: absolute;
	left: 40%;
	top: 30%;
	background-color: rgb(255, 133, 111);
	display: none;
}

#status-changer {
	text-align: center;
	padding: 1em;
}

#status-changer div {
	flex-direction: column;
	text-align: center;
	padding: 01em 0em 0.5em 0em;
}

#status-changer div :hover {
	background-color: darkgrey;
}

#status-flexbox-container {
	display: flex;
}

#danger-zone {
	border-style: dotted;
	border-color: red;
	width: 100%;
}

#danger-zone #danger-text {
	color: red;
	text-align: center;
}

#prompt-button-yes {
	background-color: lightgreen;
	width: 100%;
	height: 2.5em;
}

#prompt-button-no {
	background-color: red;
	width: 100%;
	height: 2.5em;
}

.border {
	border-radius: 25px;
	border: 2px solid #73ad21;
	margin: 20px;
}

.message {
	font-size: 1em;
}

.user-input-container{
	display: flex;
    border: 1px solid #000;
}

.file-send{
	width: 5rem;
}

#chat-box {
	float: right;
	border: 10px solid #000;
	bottom: 0;
	left: 0;
	outline: none;
	font-size: 30px;
	flex: 1;
}

.image-container{
	background-color: #efefef;
}

#connecting-message {
	display: none;
	background-color: lightblue;
	height: 25vh;
	width: 40vh;
	position: absolute;
	left: 40%;
	top: 30%;
	border-radius: 10%;
	transition: 5s;
}

#client-prompt {
	display: none;
	color: #020202;
	background-color: #757575;
	position: absolute;
	left: 40%;
	top: 30%;
}

#client-error {
	display: none;
	color: #d8000c;
	background-color: #ffd2d2;
	position: absolute;
	left: 40%;
	top: 30%;
}

#client-error h3 {
	padding: 20px;
}

#client-error h1 {
	text-align: center;
}

#message-container {
	margin: 10px;
}

.system-message {
	font-size: large;
	margin: 0.5px;
	background-color: #ebebe4;
}

.message {
	font-size: larger;
	margin: 1px;
}

.adjacent {
	font-size: 30px;
	font-family: sans-serif;
	font-style: normal;
	margin-left: 10%;
	padding-left: 20%;
}

.leftspace {
	margin-left: 25%;
	font-weight: bold;
}

.loading {
	margin: 10px;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 5px solid oldlace;
	border-top-color: red;
	animation: around-and-round-you-turn-me 1s infinite;
}

@keyframes around-and-round-you-turn-me {
	100% {
		transform: rotate(360deg);
	}
}
