body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

#login{
    border: 5px solid #FFFF00;
    border-radius: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
    height: 20vh;
    width: 20vh;
    position: absolute;
    left: 45%;
    background-color: grey;
    box-shadow: 0 18px 16px grey;
}

.middle{
    margin-left: 10%;
}

#chat{
    display: none;
}

#border{
    border-radius: 25px;
    border: 2px solid #73AD21;
    margin: 20px;
}

#chat-box{
    border: 10px solid #000;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    margin: 10px;
    position: absolute;
    right: 0;
    width: 95%;
    font-size: 30px;
}

#connecting-message{
    display: none;
    background-color: lightblue;
    height: 20vh;
    width: 40vh;
    position: absolute;
    left: 40%;
    top: 30%;
    border-radius: 10%;
    transition: 5s;
    
}

#total-online{
    text-align: right;
    background-color: rgb(124, 255, 124);
    font-size: 25px;
    position:absolute;
    top:0;
    right:0;
    height: 5vh;
    width: 25vh;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 25%, 40% 100%, 100% 100%, 100% 0);
}

#message-container{
    margin: 10px;
}

.system_message{
    font-size: large;
    margin: 0.5px;
    background-color: #EBEBE4;
}

#messages{
    font-size: larger;
    margin: 0.5px;
}

.adjacent{
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
    margin-left: 10%;
    padding-left: 20%;
}

.leftspace{
    margin-left: 25%;
    font-weight: bold;
}

.loading{
    margin: 10px;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid oldlace;
    border-top-color: red;
    animation: around-and-round-you-turn-me 1s infinite;
}

@keyframes around-and-round-you-turn-me{
    100%{
        transform: rotate(360deg);
    }
}